<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <connectionStrings>
      <add name="SQLDbConnection"
         connectionString="Server=134.39.173.35; Database=WILLIAMS_w13; User Id=WILLIAMS_w13; password=042148ab"
         providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
